@import './global.scss';

.stock-keeper-dashboard {
  &__inventory-jumbotron {
    padding: 3rem;
    background-image: url('../images/Blue_bckground.jpg');
    background-size: cover;
    height: 20rem;
    text-align: center;
  }

  &__inventory-container {
    margin-top: 5rem;
    text-align: center;
  }

  &__inventory-container--header {
    color: white;
    font-weight: 600;
    vertical-align: middle;
    margin: auto;
  }

  &__settings-jumbotron {
    padding: 3rem;
    background-image: url('../images/Dark-Gray-Background-for-Free-Download.jpg');
    background-size: cover;
    height: 14rem;
    text-align: center;
  }

  &__settings-container {
    margin-top: 2rem;
    text-align: center;
  }

  &__settings-container--header {
    color: $stockkeeper-grey;
    font-weight: 600;
    vertical-align: middle;
    margin: auto;
  }
}
