$stockkeeper-blue: #3855f5;
$stockkeeper-grey: #262626;
$stockkeeper-light-blue: #8c9cf7f3;
$stockkeeper-light-grey: #d7dedf;
$stockkeeper-primary-font: Roboto, sans-serif;
$stockkeeper-secondary-font: Calibri, sans-serif;
a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  font-size: larger;
  color: $stockkeeper-light-blue;
}

a:active {
  text-decoration: none;
  color: $stockkeeper-blue;
}

.animated {
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.icon {
  color: white;
  vertical-align: middle;
}

.page-title {
  margin-bottom: 2rem;
}

.stckkeeper-btn-blue {
  color: white;
  background-color: $stockkeeper-blue;
}

.stock-keeper-global {
  &__body {
    font-family: $stockkeeper-primary-font;
  }
}

.subtitle {
  font-size: 14px;
}
